{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Система Обліку Студентів Навчального Закладу">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сервіс обліку студентів
    {% block meta_title %}
    {% endblock meta_title%}
    </title>

    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/style.css" %}">
    {% block extra_css %}
    {% endblock extra_css%}

</head>
<body>
    <div class="container">
        <!-- start header -->
        <div class="row" id="header">
            <div class="col-xs-8">
                <h1>Сервіс обліку студентів</h1>
            </div>
            <div class="col-xs-4" id="group-selector">
                <strong>Група:</strong>
                <select>
                    <option value="">Усі Студенти</option>
                    <option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
                    <option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
                </select>
            </div>
        </div>
        <!-- end header -->

        <!-- Start SubHeader -->
        <div class="row" id="sub-header">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                        {% if request.path == '/' %}
                            class="active"
                        {% endif %}
                    >
                        <a href="{% url "home" %}">Студенти</a>
                    </li>
                    <li role="presentation"
                        {% if request.path == '/journal/' %}
                            class="active"
                        {% endif %}
                    >
                        <a href="{% url "journal_list" %}">Відвідування</a>
                    </li>
                    <li role="presentation"
                        {% if request.path == '/groups/' %}
                            class="active"
                        {% endif %}
>
                        <a href="{% url "groups" %}">Групи</a>
                    </li>
                    <li role="presentation"
                        {% if request.path == '/exams/' %}
                            class="active"
                        {% endif %}
>
                        <a href="{% url "exams_list" %}">Екзамени</a>
                    </li>
                    <li role="presentation" {% if '/contact-admin' in request.path %}class="active"{% endif %}>
                        <a href="{% url 'contact_admin' %}">Контакт</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End SubHeader -->

        <!-- Start Main Page Content -->
        <div class="row" id="content-columns">
            <div class="col-xs-12" id="content-column">
                {% block status_message %}
                    {% if messages %}
                    <div class="messages alert alert-warning">
                    <ul>
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }} "{% endif %}>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    </div>
                    {% endif %}
                {% endblock status_message %}
                <h2>{% block title %}{% endblock title%}</h2>
                {% block content %}{% endblock content %}
            </div>
        </div>
        <!-- End Main Page Content -->

        <!-- Start Footer -->
        <div class="row" id="footer">
            <div class="col-xs-12">
                &copy; 2017 Сервіс Обліку Студентів
            </div>
        </div>
        <!-- End Footer -->

    </div>

    <!-- JS section -->
    <script src="{% static "/js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "/js/bootstrap.js" %}"></script>
    {% block extra_js %}{% endblock extra_js %}

</body>
</html>