{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Список груп{% endblock title %}

{% block content %}
    {% if exam_list %}
        <a class="btn btn-primary" href="#">Додати екзамен</a>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Назва іспиту</th>
                    <th>Дата</th>
                    <th>Ім'я викладача</th>
                    <th>Група</th>
                </tr>
            </thead>
            <tbody>
                {%  for res in exam_list %}
                    <tr>
                        <td> {{ res.name }} </td>
                        <td> {{ res.data }} </td>
                        <td> {{ res.mentor_name }} </td>
                        <td> {{ res.group }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{%  endblock %}