{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Список груп{% endblock title %}

{% block content %}
                <a class="btn btn-primary" href=" {% url 'group_add' %}">Додати групу</a>
                <div>
                    <!-- Start Students Listing -->
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><a href="">№</a></th>
                                <th><a href="">Назва &uarr;</a></th>
                                <th><a href=”#”>Староста</a></th>
                                <th>Дії</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%  for gr in group %}
                                <tr>
                                    <td>{{ gr.id }}</td>
                                    <td><a title="Редагувати" href="{% url "group_edit" gr.id %}">{{ gr.title }}</a></td>
                                    <td><a title="Редагувати" href="#">
                                            {% if gr.leader %}
                                                {{ gr.leader }}
                                            {% else %}
                                                -
                                            {% endif %}

                                        </a></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Дія
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="#">Відвідування</a>
                                                </li>
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url "group_edit" gr.id %}">Редагувати</a>
                                                </li>
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url "group_delete"  gr.id %}">Видалити</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {%  endfor %}
                        </tbody>
                    </table>

                    {% include 'nav.html' %}
                    <!-- End Students Listing -->
                </div>
        <!-- End Main Page Content -->
{% endblock content %}