{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}

{% block content %}
            {% if students %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    &larr; __ &rarr;
                </div>
                <div>
                    <!-- Start Students Listing -->
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th><a href="">№</a></th>
                                <th><a href="">Студент &uarr;</a></th>
                                {% for i in day_range %}
                                    <th> {{ i }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>

                            </td></tr>
                            {% for student in students %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a title="Редагувати" href="{% url "journal_list" %}">{{ student.fullname }}</a></td>
                                    {% for day in student.days %}
                                        <td><input type="checkbox" id="{{ student.id }} data-date="{{ day.date }}"
                                            data-url="{{ student.update_url }}"  {% if day.present %}checked="checked" {% endif %}></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            {% endif %}
                    <!-- End Students Listing -->
                </div>
{% endblock content %}