{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}

{% block content %}
            {% if journal_lst %}
                {% url "home" %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    &larr; __ &rarr;
                </div>
                <div>
                    <!-- Start Students Listing -->
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th><a href="">№</a></th>
                                <th><a href="">Студент &uarr;</a></th>
                                <th><a href="#">Ср 1</a></th>
                                <th><a href="#">Чт 2</a></th>
                                <th><a href="#">Пт 3</a></th>
                                <th><a href="#">Сб 4</a></th>
                                <th><a href="#">Нд 5</a></th>
                                <th><a href="#">Пн 6</a></th>
                                <th><a href="#">Вт 7</a></th>
                                <th><a href="#">Ср 8</a></th>
                                <th><a href="#">Чт 9</a></th>
                                <th><a href="#">Пт 10</a></th>
                                <th><a href="#">Сб 11</a></th>
                                <th><a href="#">Нд 12</a></th>
                                <th><a href="#">Пн 13</a></th>
                                <th><a href="#">Вт 14</a></th>
                                <th><a href="#">Ср 15</a></th>
                                <th><a href="#">Чт 16</a></th>
                                <th><a href="#">Пт 17</a></th>
                                <th><a href="#">Сб 18</a></th>
                                <th><a href="#">Нд 19</a></th>
                                <th><a href="#">Пн 20</a></th>
                                <th><a href="#">Вт 21</a></th>
                                <th><a href="#">Ср 22</a></th>
                                <th><a href="#">Чт 23</a></th>
                                <th><a href="#">Пт 24</a></th>
                                <th><a href="#">Сб 25</a></th>
                                <th><a href="#">Нд 26</a></th>
                                <th><a href="#">Пн 27</a></th>
                                <th><a href="#">Вт 28</a></th>
                                <th><a href="#">Ср 29</a></th>
                                <th><a href="#">Чт 30</a></th>
                                <th><a href="#">Пт 31</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a title="Редагувати" href="#">Андрій Ячменєв</a></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a title="Редагувати" href="#">Олександр Фортельний</a></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a title="Редагувати" href="#">Ігор Наумов</a></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                                <td><input type="checkbox" checked></td>
                            </tr>
                        </tbody>
                    </table>
            {% endif %}
                    <nav>
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </nav>
                    <!-- End Students Listing -->
                </div>
{% endblock content %}