{% load static from staticfiles %}
{% load el_pagination_tags %}

                {% paginate students %}
                {% for student in students %}
                        <div class="col-xs-12 col-sm-12 col-md-12 main_table">
                           <div class="col-xs-1 col-sm-1 col-md-1">
                                {{ student.id }}
                           </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                {% if student.photo %}
                                    <img class="img-circle" src="{{ MEDIA_URL }}{{ student.photo.url }}">
                                {% else %}
                                    <img class="img-circle" src="{% static "img/defaultphoto.jpg" %}">
                                {% endif %}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.first_name }}</a>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.last_name }}</a>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                {{ student.ticket }}
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        Дія
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">Відвідування</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url "students_edit" student.id %}">Редагувати</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url "students_delete" student.id %}">Видалити</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% show_more %}

