{% extends "base.html" %}

{% load static from staticfiles %}
{% load el_pagination_tags %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{%  block status_message %}
    {% if request.GET.status_message %}
        <div class="alert alert-info">{{ request.GET.status_message }}</div>
    {% endif %}
{%  endblock status_message %}

{% block content %}
    <a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main_table">
        <!-- Start Students Listing -->
                    {{ pages.current }}
                    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                        <H2> {{ page_number }}</H2>
                        {% if students %}
                            <div class="table-head bg-success">
                                <div class="col-xs-1 col-sm-1 col-md-1">
                                    <a href="{% url "home" %}?order_by=pk{% if order_by == 'pk' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                    №
                                    {% if order_by == 'pk' and reverse != '1'%}&uarr;
                                    {% elif order_by == 'pk' and reverse == '1' %}&darr;
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1">
                                    Фото
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <a href="
                                    {% url "home" %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}
                                    ">
                                    Прізвище
                                    {% if default == '1' %}&uarr;
                                    {% elif order_by == 'last_name' and reverse != '1' %}&uarr;
                                    {% elif order_by == 'last_name' and reverse == '1' %}&darr;
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <a href="{% url "home" %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                        Ім’я
                                        {% if order_by == 'first_name' and reverse != '1' %}&uarr;{% endif %}
                                        {% if order_by == 'first_name' and reverse == '1' %}&darr;{% endif %}
                                    </a>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                    <a href="{% url "home" %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                        № Білету
                                        {% if order_by == 'ticket' and reverse != '1'%}&uarr;{% endif %}
                                        {% if order_by == 'ticket' and reverse == '1'%}&darr;{% endif %}
                                    </a>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1">
                                    Дії
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}

        {% include page_template %}

        {% include 'nav.html' %}
        <!-- End Students Listing -->
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static "/js/el-pagination.js" %}"></script>
    <script>$.endlessPaginate();</script>
{% endblock extra_js %}
