{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Додати студета{% endblock meta_title %}

{% block status_message %}
    {% if errors %}
        <div class="alert alert-warning">Виправте помилки!</div>
    {% endif %}
{% endblock status_message %}
{% block title %}Додати студета{% endblock title %}

{% block content %}
    <form action="{% url "students_add" %}" method="post" enctype="multipart/form-data" role="form"
          class="form-horizontal student_add_form">
        {% csrf_token %}
        <div class="form-group {% if errors.first_name %}has-error{% endif %}">
            <label for="first_name" class="col-sm-2 control-label">Ім’я*</label>
            <div class="col-sm-10">
                <input type="text" value="{{ data.first_name }}" name="first_name" id="first_name" class="form-control">
                <span class=”help-block”>{{ errors.first_name }}</span>
            </div>
        </div>

         <div class="form-group {% if errors.last_name %}has-error{% endif %}">
            <label for="last_name" class="col-sm-2 control-label">Прізвище*</label>
            <div class="col-sm-10">
                <input type="text" value="{{ data.last_name }}" name="last_name" id="last_name" class="form-control">
                <span class=”help-block”>{{ errors.last_name }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="middle_name" class="col-sm-2 control-label">По-батькові</label>
            <div class="col-sm-10">
                <input type="text" value="{{ data.middle_name }}" name="middle_name" id="middle_name" class="form-control">
            </div>
        </div>

        <div class="form-group {% if errors.birthday %}has-error{% endif %}">
            <label for="birthday" class="col-sm-2 control-label">Дата народження</label>
            <div class="col-sm-10">
                <input type="text" value="{{ data.birthday }}" name="birthday" id="birthday" placeholder="2017-10-30"
                       class="form-control">
                <span class=”help-block”>{{ errors.birthday }}</span>
            </div>
        </div>

        <div class="form-group {% if errors.photo %}has-error{% endif %}">
            <label for="photo" class="col-sm-2 control-label">Фото</label>
            <div class="col-sm-10">
                <input type="file" value="{{ data.photo }}" name="photo" id="photo" class="form-control">
                <span class=”help-block”>{{ errors.photo }}</span>
            </div>
        </div>

        <div class="form-group {% if errors.ticket %}has-error{% endif %}">
            <label for="ticket" class="col-sm-2 control-label">Білет*</label>
            <div class="col-sm-10">
                <input type="text" value="{{ data.ticket }}" name="ticket" id="ticket" class="form-control">
                <span class=”help-block”>{{ errors.ticket }}</span>
            </div>
        </div>

        <div class="form-group {% if errors.students_group %}has-error{% endif %}">
            <label for="student_group" class="col-sm-2 control-label">Група*</label>
            <div class="col-sm-10">
                <select name="student_group" id="student_group" class="form-control">
                    {% for group in groups %}
                        <option value="{{ group.id }}"
                                {% if group.id == request.POST.student_group|add:0 %}selected="1"{% endif %}>
                            {{ group.title }}</option>
                    {% endfor %}
                </select>
                <span class=”help-block”>{{ errors.students_group }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="notes" class="col-sm-2 control-label">Нотатки</label>
            <div class="col-sm-10">
                <textarea id="notes" name="notes" class="form-control">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input type="submit" value="Додати" name="add_button" class="btn btn-primary"/>
                <button type="submit" name="cancel_button" class="btn btn-link">Скасувати</button>
            </div>
        </div>

    </form>


{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
