{% extends "student_edit.html" %}

{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="description" value="Система Обліку Студентів Навчального Закладу">
    <title>Сервіс обліку студентів</title>

    <link rel="stylesheet" href="{%  static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%  static "css/style.css" %}">

</head>
<body>
    <div class="container">
        <!-- start header -->
        <div class="row" id="header">
            <div class="col-xs-8">
                <h1>Сервіс обліку студентів</h1>
            </div>
            <div class="col-xs-4" id="group-selector">
                <strong>Група:</strong>
                <select>
                    <option value="">Усі Студенти</option>
                    <option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
                    <option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
                </select>
            </div>
        </div>
        <!-- end header -->

        <!-- Start SubHeader -->
        <div class="row" id="sub-header">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="{% url "home" %}">Студенти</a>
                    </li>
                    <li role="presentation">
                        <a href="/journal">Відвідування</a>
                    </li>
                    <li role="presentation">
                        <a href="{% url "groups" %}">Групи</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End SubHeader -->

        <!-- Start Main Page Content -->
        <div class="row" id="content-columns">
            <div class="col-xs-12" id="content-column">
                <div class="alert alert-warning">Зміни скасовано.</div>
                <h2>База Студентів</h2>
                <a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>
                <div>
                    <!-- Start Students Listing -->

                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><a href="">№</a></th>
                                <th>Фото</th>
                                <th><a href="">Прізвище &uarr;</a></th>
                                <th><a href=”#”>Ім’я</a></th>
                                <th><a href=”#”>№ Білету</a></th>
                                <th>Дії</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><img class="img-circle" src="{% static student.image %}" </td>
                                    <td><a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.first_name }}</a></td>
                                    <td><a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.last_name }}</a></td>
                                    <td>{{ student.ticket }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Дія
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="#">Відвідування</a>
                                                </li>
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url "students_edit" student.id %}">Редагувати</a>
                                                </li>
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url "students_delete" student.id %}">Видалити</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% include 'nav.html' %}
                    <!-- End Students Listing -->
                </div>
            </div>
        </div>
        <!-- End Main Page Content -->

        <!-- Start Footer -->
        <div class="row" id="footer">
            <div class="col-xs-12">
                &copy; 2017 Сервіс Обліку Студентів
            </div>
        </div>
        <!-- End Footer -->

    </div>


    <!-- JS section -->
    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>