{% extends "base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Редагувати студента{% endblock meta_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/bootstrap-datepicker3.standalone.min.css" %}">
{% endblock extra_css%}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning">Виправте помилки! {{ form.errors }}</div>
    {% endif %}
{% endblock status_message %}

{% block title %}Редагувати студента{% endblock title %}

{% block content %}

    {% crispy form %}

{% endblock %}

{% block extra_js %}
    <script src="{% static "/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "/js/date-picker.js" %}"></script>
{% endblock extra_js %}