{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Список студентів{% endblock meta_title %}

{% block title %}Список студентів{% endblock title %}

{% block content %}

    <h2>Студенти</h2>
    <ul>
        {% for student in object_list %}
            <li>{{ student.last_name }}</li>
        {% endfor %}
    </ul>

{% endblock %}