{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Видалити студента{% endblock meta_title %}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning">Виправте помилки! {{ form.errors }}</div>
    {% endif %}
{% endblock status_message %}

{% block title %}Видалити студента{% endblock title %}

{% block content %}

    <form action="{% url 'students_delete' object.id %}" method="post">
        {% csrf_token %}
        <p>Ви дійсно хочете видалити студента "{{ object }}"?</p>
        <input type="submit" value="Так" name="delete_button" class="btn btn-danger" /><br /><br />
    </form

{% endblock %}