/* main stylesheet */


/* Global Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.col-xs-12,
.col-xs-4,
.col-xs-8 {

}

/* Groups Selector */
#group-selector {
    margin-top: 30px;
}

#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    line-height: 30px;
    color: #555555;
}

.main_table {
    padding: 2px 0;
    border-bottom: 1px solid lightgrey;
}

.main_table img {
    width: 30px;
    height: 30px;
}


.alert {
    /* Ми додали відстань лише зверху елемента: -top */
    margin-top: 10px;
}

#footer {
    /* задаємо верхню межу елемента: ширина лінії, тип лінії, колір лінії */
    border-top: 1px solid #dddddd;
    /* задаємо внутрішню відстань елемента до верхнього краю */
    padding-top: 10px;
}

#content-column {
    overflow-x: scroll;
}

.messages li {
    list-style: none;
}

.student_add_form {
    max-width: 500px;
}

.table-head {
    height: 30px;
    line-height: 30px;
    background: green;
    color: white;
}

.table-head a {
    color: white;
}

.table-head a:hover {
    color: white;
}

.open>.dropdown-menu {
    left: -102px;
}