{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}

{% block status_message %}
    {% if not students %}
        <div class="alert alert-warning">Поки немає жодного студента в базі.
        <a href="{% url 'students_add' %}">додайте</a> першого</div>
    {% endif %}
{% endblock status_message %}

{% block content %}
    {% if students %}
        <p id="journal-nav" class="text-center">
            <a href=?month={{ prev_month }}"
            title="Попередній Місяць">&larr;</a>
                <!-- TODO: translate month name -->
            <strong>{{ month_verbose }} {{ year }}</strong>
            <a href="?month={{ next_month }}"
            title="Наступний Місяць">&rarr;</a>
        </p>
        
        <table class="table table-hover table-striped table-bordered" id="students-journal">
            <thead>
                <tr class="header">
                    <th class="num">#</th>
                    <th class="name">Студент</th>
                        {% for day in month_header %}
                            <th class="day-header">
                                <!-- TODO: translate day name -->
                            {{ day.verbose }}
                            <br />
                            {{ day.day }}
                            </th>
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for student in students %}
                    <tr>
                        <td>
                            {% if is_paginated %}
                                {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
                            {% else %}
                                {{ forloop.counter }}
                            {% endif %}
                        </td>
                        <td>
                            <a title="Редагувати" target="_blank" href="{% url 'students_edit' student.id %}">
                                {{ student.fullname }}
                            </a>
                        </td>

                        {% for day in student.days %}
                            <td class="day-box">
                                <input type="checkbox" data-student-id="{{ student.id }}"
                                data-date="{{ day.date }}" data-url="{{ student.update_url }}"
                                value="1" {% if day.present %} checked="checked" {% endif %}/>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{#    {% with object_list=students %}#}
{#        {% include 'students/pagination.html' %}#}
{#    {% endwith %}#}

{% endblock content %}