{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Зв’язок з адміністратором{% endblock meta_title %}

{% block title %}Зв’язок з адміністратором{% endblock title %}

{% block content %}

    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>

{% endblock %}